body {
  background: #222233 no-repeat top center fixed;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  line-height: 1.5;
  font-size: 20px;
  color: #AACCFF;
  text-align: center;
}

article:not(.bg-image)
{
  margin:0 auto;
  width: 960px;
  top:100%;
}

.bg-image{
    width:100%;
    height:100%;
    background-image:url('fullscreen_test.jpg');
    background-size:cover;
    background-attachment: fixed;
}

a {
    color: #AACCFF;
    text-decoration: none;
}

.link {
  text-decoration: underline;
}

.link:hover {
  color: rgb(59, 105, 173);
  text-decoration: underline;
}

.emph {
  font-weight: bold;
}

.publisher{
  width: 200px;
  height: 50px;
}

.headset {
  float: left;
}

.sensorama {
  float: right;
  padding-left: 2.5%;
}

.steam {
  float: left;
  padding-right: 2.5%;
  width: 150px;
  height: 150px;
}

.origin {
  float: right;
  width: 150px;
  height: 150px;
}

.battle {
  float: left;
  padding-right: 2.5%;
  width: 150px;
  height: 150px;
}

.uplay {
  float: right;
  padding-left: 2.5%;
  width: 150px;
  height: 150px;
  padding-top: 50px;
  margin-bottom: 80px;
}

.txt {
    text-align: center;
    padding-top: 200px;
    text-shadow: 5px 5px white;

  }

    @-webkit-keyframes colorchange {
      0% { color: #2f4fce; }
      25% { color: #8d47ff; }
      50% { color: #3624ad }
      75% { color: #4aa9e0; }
      100% { color: #4b35f2; }
}

.nav {
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    float: left;
    padding-right: 550px;
    padding-left: 5%;
}

ul:not(.nav) {
	background-color: #141420;
  list-style-type: none;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  height: 60px;
  width: 100%;
	overflow: hidden;
	position: fixed;
  box-shadow: 0 0 25px 0 black;
  display: flex;
  align-items: center;
}


li a {
  color: rgb(209, 227, 253);
  float: right;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

li a:hover:not(.nav) { background-color: #000;}

h1 {
  color: rgb(209, 227, 253);
  font-size: 100px;
  font-weight: bold;
  -webkit-animation:colorchange 10s infinite alternate;
}

h2 {
  font-weight: bold;
  color: rgb(209, 227, 253);
  font-size: 50px;
}

h3 {
  padding-top: 30px;
  font-weight: bold;
  color: rgb(209, 227, 253);
  font-size: 30px;
}

h4 {
  font-weight: bold;
  color: rgb(209, 227, 253);
  font-size: 20px;
}

table {
    width: 100%;
}

th {
    background-color: #141420;
    color: white;
}

td:hover {background-color: #000;}

td {
  border-bottom: 1px solid black;
	text-align: center;
}

td a {
    text-decoration: none;
}

form > button {
  width: 40%;
  height: 100px;
  position: absolute;
  background-image: url(steam.png);
  background-size: cover;
  background-position: center;
  text-align: center;
  border-radius: 12px;
  right: 30%;
}

button:hover {background-color: #000;}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

p {
	text-align: justify;
}
